<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Theming
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Theming</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Colors</h1>
  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <h1>Shadow Parts</h1>
  <ion-button color="favorite">Favorite</ion-button>
  <p class="ion-badge">check uppercase</p>
</ion-content>
